@using Application.DTOs.ArtikalDTOs
@model List<ArtikalDTO>
@{
    ViewData["Title"] = "Artikli";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold">📦 Lista Artikala</h2>
    <a class="btn btn-success btn-modern" asp-action="Create">+ Dodaj artikal</a>
</div>

<div class="card card-custom p-3">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Naziv</th>
                <th>JM</th>
                <th>Količina</th>
                <th>Cena</th>
                <th style="width:130px"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.Naziv</td>
                    <td>@a.JedinicaMere</td>
                    <td>@a.Kolicina</td>
                    <td>@a.Cena</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@a.Id">Izmeni</a>
                        <form asp-action="Delete" asp-route-id="@a.Id" method="post" style="display:inline">
                            <button class="btn btn-danger btn-sm">Obriši</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>